html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    background-color: rgba(236, 236, 236, 0.2);
}

/* ========= Navbar ========== */



/* ========= Beranda Awal ========== */



/* ========= Cards ========== */
.content-wrapper {
    height: 500px;
    padding-bottom: 80px;

    height: 100vh;
}

.heading {
    text-align: center;
    padding-top: 50px;
}

.clothings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 30px;
}

.clothing {
    float: left;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgb(245, 239, 239);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: 0.5s;
}

img {
    width: 100%;
    height: 350px;
}

.clothing:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    z-index: 10;
}

.clothing-icon {
    position: relative;
    display: inline-block;
    width: 100%;
}

.clothing-icon .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.clothing-icon:hover .img-top {
    display: inline;
}

.detail {
    padding: 10px;
    background-color: white;
}

.detail p {
    font-weight: bold;
    font-size: 15px;
}

.detail span {
    float: right;
    font-weight: normal;
    font-size: 14px;
}

.detail a {
    font-size: 10px;
}

/* ========= Footer ========== */



/* ========= Animation ========== */
.fadeRight {
    -webkit-animation-name: fadeRight;
    -moz-animation-name: fadeRight;
    animation-name: fadeRight;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.fadeBottom {
    -webkit-animation-name: fadeBottom;
    -moz-animation-name: fadeBottom;
    animation-name: fadeBottom;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.fadeUp {
    -webkit-animation-name: fadeUp;
    -moz-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeBottom {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* ========= RESPONSIVE (MEDIUM DEVICES) ==========*/
@media screen and (max-width: 1024px) {

    img {
        width: 100%;
        height: 300px;
    }

}

/* ========= RESPONSIVE (SMALL DEVICES) ==========*/
@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: 250px;
    }
    .detail p {
        font-size: 12px;
    }
    
    .detail span {
        font-size: 11px;
    }
    
    .detail a {
        font-size: 10px;
    }
}